PORT={YOUR_APP_PORT}
DB_HOST={THE_HOSTNAME_OF_YOUR_DB}
DB_DRIVER={YOUR_DB_DRIVER}
DB_NAME={THE_NAME_OF_YOUR_DB}
DB_PORT={THE_PORT_OF_YOUR_DB}
DB_PASSWORD={THE_USER_PASSWORD_TO_CONNECT_TO_YOUR_DB}
DB_USER={THE_USER_LOGIN_TO_CONNECT_TO_YOUR_DB}
JWT_SECRET={THE_JWT_SECRET_KEY_TO_CREATE_TOKEN}
PASSWORD_SECRET={THE_PASSWORD_SECRET_KEY_TO_GENERATE_PASSWORD_FOR_DB}
